## Imports

In [2]:
## Imports
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Problem Statement

Problem Statement: Revised initial goals & success criteria: 
Using real-world dataset for spatio-temporal electric vehicle (EV) charging demand prediction, what is the forecasted number of EV vehicles in the next 30 minutes?

## Methods and Models

Outline of proposed methods and models: KNN, VAR, CNN

Risks & assumptions of your data:

# Source of Data

In [ ]:
Data source: https://github.com/IntelligentSystemsLab/ST-EVCDP/tree/main

## EDA

In [34]:
# read csv
df = pd.read_csv('./data/duration.csv')
price = pd.read_csv('./data/e_price.csv')
inf = pd.read_csv('./data/inf.csv')
occ = pd.read_csv('./data/occupancy.csv')
s_price = pd.read_csv('./data/s_price.csv')
vol = pd.read_csv('./data/volume.csv')
weather_airport = pd.read_csv('./data/weather_airport.csv')
weather_central = pd.read_csv('./data/weather_central.csv')
information = pd.read_csv('./data/information.csv')

In [4]:
df.head()

,time,1001,1002,1003,1004,1005,1006,1007,1008,1009,...,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682
0,2022-09-01 00:00:00,0.0000,0.1667,0.0833,0.0000,0.0000,0.5000,0.0000,0.1667,0.0000,...,0.7500,0.1667,0.0,0.4167,0.3333,0.0833,0.2500,0.0833,0.1667,0.0000
1,2022-09-01 01:00:00,0.0000,0.1667,0.0833,0.0000,0.0000,0.5833,0.0000,0.1667,3.8333,...,0.7500,0.1667,0.0,0.5000,0.4167,0.0833,0.2500,0.0833,0.1667,0.0000
2,2022-09-01 02:00:00,0.0833,0.0000,0.0000,0.3333,0.9167,0.6667,0.0000,0.3333,4.8333,...,1.4167,0.0833,0.0,0.4167,0.6667,0.1667,0.4167,0.0833,0.0000,0.0020
3,2022-09-01 03:00:00,0.0833,0.0000,0.0000,0.3333,0.2082,0.6667,0.5329,0.3333,4.6667,...,1.4167,0.0833,0.0,0.4167,0.6667,0.0833,0.4167,0.0833,0.0000,0.0006
4,2022-09-01 04:00:00,0.0000,0.1667,0.0833,0.1667,0.9167,0.5833,0.0000,0.1667,4.4167,...,0.7500,0.1667,0.0,0.4167,0.4167,0.0000,0.2500,0.0833,0.0833,0.0011

In [14]:
df.shape

(8760, 1683)

In [10]:
price = pd.read_csv('./data/e_price.csv')

In [12]:
price.head()

,time,1001,1002,1003,1004,1005,1006,1007,1008,1009,...,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682
0,2022-09-01 00:00:00,1.2,1.0,1.1,0.32,0.6015,0.2962,0.3041,1.0,0.3067,...,0.7,0.34,0.35,0.72,0.72,0.0,0.72,0.72,1.0,1.05
1,2022-09-01 01:00:00,1.2,1.0,1.1,0.32,0.3314,0.2962,0.3015,1.0,0.3067,...,0.7,0.34,0.35,0.72,0.72,0.0,0.72,0.72,1.0,1.05
2,2022-09-01 02:00:00,1.2,1.0,1.1,0.32,0.3200,0.2962,0.2990,1.0,0.3067,...,0.7,0.34,0.35,0.72,0.72,0.0,0.72,0.72,1.0,1.05
3,2022-09-01 03:00:00,1.2,1.0,1.1,0.32,0.3200,0.2962,0.2990,1.0,0.3067,...,0.7,0.34,0.35,0.72,0.72,0.0,0.72,0.72,1.0,1.05
4,2022-09-01 04:00:00,1.2,1.0,1.1,0.32,0.3200,0.2962,0.2990,1.0,0.3067,...,0.7,0.34,0.35,0.72,0.72,0.0,0.72,0.72,1.0,1.05

In [16]:
price.shape

(8760, 1683)

In [19]:
inf.head()

   station_id   longitude   latitude  pile_count
0        1001  113.784724  22.714121          20
1        1002  113.785002  22.725900          22
2        1003  113.787971  22.735538           6
3        1004  113.788126  22.693449          11
4        1005  113.788126  22.693449          11

In [22]:
inf.shape

(1682, 4)

In [24]:
occ.head()

,time,1001,1002,1003,1004,1005,1006,1007,1008,1009,...,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682
0,2022-09-01 00:00:00,4.0,9.0,2.0,10.0,7.0,4.0,4.0,20.0,36.0,...,16.0,1.0,4.0,5.0,6.0,0.0,4.0,2.0,2.0,0.0
1,2022-09-01 01:00:00,7.0,6.0,2.0,6.0,8.0,7.0,5.0,19.0,47.0,...,25.0,2.0,10.0,6.0,7.0,0.0,3.0,3.0,3.0,4.0
2,2022-09-01 02:00:00,7.0,3.0,1.0,10.0,8.0,8.0,5.0,20.0,60.0,...,17.0,1.0,0.0,5.0,8.0,0.0,7.0,3.0,1.0,8.0
3,2022-09-01 03:00:00,8.0,3.0,1.0,10.0,9.0,8.0,5.0,20.0,58.0,...,17.0,1.0,10.0,5.0,8.0,1.0,7.0,3.0,1.0,3.0
4,2022-09-01 04:00:00,6.0,6.0,2.0,8.0,9.0,7.0,5.0,19.0,54.0,...,25.0,2.0,10.0,5.0,7.0,0.0,3.0,3.0,2.0,0.0

In [44]:
occ.describe()

,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,...,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,3.373858,10.731279,0.361644,5.999087,5.964498,4.208790,4.100571,23.678539,26.730708,28.424201,...,8.566324,1.871119,2.688699,4.271689,4.713470,1.791667,3.319863,1.966324,1.657306,1.013813
std,5.192522,7.378590,0.708302,2.297489,2.648834,4.133257,2.452573,7.252219,15.338424,15.840092,...,4.506005,1.256175,21.142070,2.704653,3.046483,3.052959,2.035246,4.743796,1.825885,2.246366
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,7.000000,0.000000,4.000000,4.000000,2.000000,2.000000,19.000000,17.000000,20.000000,...,5.000000,1.000000,0.000000,2.000000,3.000000,0.000000,2.000000,0.000000,1.000000,0.000000
50%,0.000000,10.000000,0.000000,6.000000,6.000000,4.000000,4.000000,23.000000,24.000000,27.000000,...,8.000000,2.000000,1.000000,4.000000,4.000000,1.000000,3.000000,1.000000,1.000000,0.000000
75%,6.000000,13.000000,1.000000,7.000000,7.000000,6.000000,6.000000,28.000000,37.000000,35.000000,...,11.000000,2.000000,3.000000,6.000000,7.000000,2.000000,5.000000,3.000000,2.000000,1.000000
max,20.000000,352.000000,6.000000,35.000000,96.000000,152.000000,21.000000,51.000000,434.000000,368.000000,...,36.000000,24.000000,1872.000000,50.000000,49.000000,61.000000,15.000000,363.000000,10.000000,48.000000

In [26]:
s_price.head() #srvice station price

,time,1001,1002,1003,1004,1005,1006,1007,1008,1009,...,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682
0,2022-09-01 00:00:00,0.47,0.66,0.76,0.76,0.4851,1.1438,1.0908,0.66,0.8733,...,0.76,0.82,0.73,0.76,0.76,0.4530,0.76,0.76,0.52,0.7
1,2022-09-01 01:00:00,0.47,0.66,0.76,0.76,0.7552,1.1438,1.2405,0.66,0.8733,...,0.76,0.82,0.73,0.76,0.76,0.4522,0.76,0.76,0.52,0.7
2,2022-09-01 02:00:00,0.47,0.66,0.76,0.76,0.7660,1.1438,1.2410,0.66,0.8733,...,0.76,0.82,0.73,0.76,0.76,0.4524,0.76,0.76,0.52,0.7
3,2022-09-01 03:00:00,0.47,0.66,0.76,0.76,0.7668,1.1438,1.2410,0.66,0.8733,...,0.76,0.82,0.73,0.76,0.76,0.4523,0.76,0.76,0.52,0.7
4,2022-09-01 04:00:00,0.47,0.66,0.76,0.76,0.7667,1.1438,1.2410,0.66,0.8733,...,0.76,0.82,0.73,0.76,0.76,0.4531,0.76,0.76,0.52,0.7

In [28]:
vol.head()

,time,1001,1002,1003,1004,1005,1006,1007,1008,1009,...,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682
0,2022-09-01 00:00:00,0.0000,1.1667,0.5833,0.0000,6.6108,3.5000,3.2141,1.1667,0.0,...,5.2500,15.0,0.0,2.9167,2.3333,0.5833,1.7500,0.5833,1.1667,0.0
1,2022-09-01 01:00:00,0.0000,1.1667,0.5833,0.0000,9.1765,4.0833,3.6216,1.1667,572.5,...,5.2500,15.0,0.0,3.5000,2.9167,0.5833,1.7500,0.5833,1.1667,0.0
2,2022-09-01 02:00:00,0.5833,0.0000,0.0000,6.7500,7.8682,4.6667,3.7150,2.3333,722.5,...,9.9167,7.5,0.0,2.9167,4.6667,1.1667,2.9167,0.5833,0.0000,0.0
3,2022-09-01 03:00:00,0.5833,0.0000,0.0000,6.7500,9.3332,4.6667,3.7248,2.3333,697.5,...,9.9167,7.5,0.0,2.9167,4.6667,0.5833,2.9167,0.5833,0.0000,0.0
4,2022-09-01 04:00:00,0.0000,1.1667,0.5833,5.5833,11.5353,4.0833,3.7273,1.1667,660.0,...,5.2500,15.0,0.0,2.9167,2.9167,0.0000,1.7500,0.5833,0.5833,0.0

In [30]:
weather_airport.head()

,Local time in Shenzhen Bao'an (airport),T,P0,P,U,DD,Ff,ff10,WW,W'W',nRAIN,c,VV,Td
0,31.08.2023 23:00,28.0,752.0,752.3,74,Wind blowing from the north,5,NaN,NaN,NaN,0,No Significant Clouds,10.0 and more,23.0
1,31.08.2023 22:00,28.0,752.0,752.3,74,Wind blowing from the north,4,NaN,NaN,NaN,0,Few clouds (10-30%) 1500 m,10.0 and more,23.0
2,31.08.2023 21:00,28.0,752.0,752.3,84,Wind blowing from the north-northwest,2,NaN,NaN,NaN,0,Scattered clouds (40-50%) 1500 m,10.0 and more,25.0
3,31.08.2023 20:00,28.0,752.0,752.3,89,Wind blowing from the north-east,1,NaN,NaN,NaN,0,"Few clouds (10-30%) 450 m, broken clouds (60-9...",10.0 and more,26.0
4,31.08.2023 19:00,27.0,752.0,752.3,94,Wind blowing from the east-northeast,5,NaN,"Heavy shower(s), rain",NaN,3,"Few clouds (10-30%) 450 m, few clouds (10-30%)...",4,26.0

In [32]:
weather_central.head()

,Local time in Shenzhen,T,Po,P,U,DD,Ff,ff10,WW,nRAIN,VV,Td,Unnamed: 12,Unnamed: 13
0,31.08.2023 23:00,27.9,747.3,752.8,73,Wind blowing from the north,3,NaN,Cloud development not observed or not observab...,0,30.0,22.6,NaN,NaN
1,31.08.2023 20:00,29.2,746.8,752.3,72,Wind blowing from the north,2,NaN,Cloud development not observed or not observab...,0,30.0,23.6,NaN,NaN
2,31.08.2023 17:00,29.6,745.9,751.4,72,Wind blowing from the north,2,NaN,Cloud development not observed or not observab...,0,30.0,24.0,NaN,NaN
3,31.08.2023 14:00,29.3,746.8,752.3,73,Wind blowing from the north,3,NaN,Cloud development not observed or not observab...,0,30.0,23.9,NaN,NaN
4,31.08.2023 11:00,27.9,747.9,753.4,74,Wind blowing from the north,2,NaN,Cloud development not observed or not observab...,0,30.0,22.8,NaN,NaN

In [35]:
information.head()

,num,grid,count,fast_count,slow_count,area,lon,la,CBD,dynamic_pricing
0,1,102,30,3,27,0.71,114.1030,22.54041,0,0
1,3,105,93,0,93,0.77,114.1208,22.55127,0,0
2,5,107,88,2,86,0.89,114.1304,22.54486,0,0
3,6,108,39,0,39,1.26,114.1315,22.55403,0,0
4,7,109,39,0,39,3.15,114.1430,22.56388,0,0

In [38]:
information.shape

(247, 10)